html, body {
    background-color: #65B5F5;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100%;
}

.progress-circle {
    transform-origin: center;
    transform: rotate(-90deg);
    transition: stroke-dashoffset 0.3s;
}